@import "tailwindcss";

@layer base {
  :root {
    @apply h-full;
    touch-action: pan-x pan-y;
  }

  @media (prefers-color-scheme: dark), (prefers-color-scheme: light) {
    :root {
      color-scheme: light;
    }
  }

  * {
    @apply m-0 box-border appearance-none p-0 focus:outline-none;
  }

  html {
    @apply touch-pan-y;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    @apply appearance-none;
  }

  input[type="number"] {
    @apply appearance-none;
    appearance: textfield;
    -moz-appearance: textfield;
  }

  img {
    @apply pointer-events-none select-none;
  }
  .selected-flag:focus,
  .selected-flag:hover,
  .selected-flag {
    @apply bg-transparent!;
  }
  button {
    @apply cursor-pointer;
  }
  body {
  color: #212529; /* Áp dụng toàn bộ chữ trên trang */
}

p {
  color: #212529; /* Áp dụng riêng thẻ <p> */
}
}
